body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://imgs.search.brave.com/GTdF3gzDj_PAnzKC3iyq8zevdP94ZfbhCVsDOGnBe2c/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJhY2Nlc3Mu/Y29tL2Z1bGwvOTA1/MDM3Ni5qcGc);
}

.container {
    width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 30px;
    text-align: center;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: white;
}

.form-group {
    margin-bottom: 15px;
    color: white;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.social-buttons {
    margin-top: 20px;
    color: white;
}

.social-buttons a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    color: #000;
    color: white;
}

.social-buttons a:hover {
    background-color: #eee;
}

p {
    margin-top: 10px;
    color: white;
}

a {
    color: blue;
}